* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*================ Header ================*/

/* =============================  Section holiday  ==========================  */

.header {
  min-width: 100%;
  height: 195px;
  margin-top: 20px;
}

.header__entry_mobile {
  min-width: 153px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__entry {
  min-width: 153px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__log_in {
  min-width: 90px;
  height: 35px;
  border-radius: 17px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__logo_mobile {
  margin-top: 116px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__log_in:hover {
  border: 3px solid #fff;
}

.header__sign_up {
  width: 90px;
  height: 35px;
  border-radius: 17px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__sign_up:hover {
  border: 3px solid #fff;
}

.header__logo_link {
  font-size: 20px;
  font-family: "Montserrat_bold";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.holiday {
  min-width: 100%;
  height: 540px;
  margin-top: -215px;
  padding-top: 215px;
  background: url(../img/vector_smart_object_320x540.jpg) no-repeat;
  background-size: cover;
}

.holiday__header {
  margin-top: 9px;
  font-size: 30px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
}

.holiday__text {
  display: block;
  margin-top: 10px;
  padding: 0 40px 0 40px;
  font-size: 18px;
  font-family: "Roboto_light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.holiday__fiend-partner {
  width: 280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  margin-top: 15px;
  background-color: #ff4e50;
  border-radius: 20px;
  display: block;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}

.holiday__fiend-partner:hover {
  background-color: #f82529;
}

/* ============ section partners =================*/

.partners__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partners {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-header {
  font-size: 22px;
  font-family: "Montserrat_bold";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.partners__link {
  width: 240px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: box-shadow 0.2s linear;
}

.partners__foto {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.partners__name {
  margin-top: 13px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.partners__summery {
  margin-top: 14px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Roboto_light";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
}

.partners__other {
  width: 280px;
  height: 40px;
  margin-top: -3px;
  height: 40px;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 78, 80);
  line-height: 1.2;
  text-align: center;
  border: 3px solid #ff4e50;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color 0.2s linear, background 0.2s linear;
}

.partners__other:hover {
  color: #fff;
  background-color: #ff4e50;
}
