* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: unset;
}
li {
  list-style-type: none;
}

/*----------------- Header -----------------*/

.site_header {
  max-width: 1201px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-family: "Montserrat";
  color: #95e1d3;
  font-weight: bold;
  line-height: 1.2;
  animation: logo_rotate 3s cubic-bezier(0.58, -0.62, 0.12, 1.48);
  display: block;
}

.logo:focus {
  animation: logo_scale 1s ease-in-out;
}

@keyframes logo_scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes logo_rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

.menu_list {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  width: 488px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav_link {
  font-size: 14px;
  font-family: "Montserrat";
  color: #95e1d3;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  transition: color 0.2s linear, border-bottom 0.2s linear;
}
.nav_link:hover {
  color: #f38181;
  padding-bottom: 7px;
  border-bottom: 3px solid #f38181;
}

/* -----------------Section 1 --------------------*/

.my_h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1201px;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.h2_decorative {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-transform: none;
  margin-bottom: 13px;
}
.my_h2::after {
  display: block;
  content: "____";
  color: #f38181;
  font-style: 70px;
  margin-top: 7px;
}

.list {
  max-width: 1201px;
  height: 340px;
  margin-top: 11px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.list_items {
  width: 381px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 18px;
}
.items {
  width: 295px;
}
.icon {
  height: 32px;
}
.list_items:hover .icon {
  animation: logo_icon 2s cubic-bezier(0.58, -0.62, 0.12, 1.48);
}
@keyframes logo_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
.my_h3 {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
}
.text {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}

/* --------------Section #2 -------------- */

.text_meet_our_team {
  width: 980px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 89px;
}

.our_team {
  margin-left: auto;
  margin-right: auto;
  max-width: 1201px;
  height: 545px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 79px;
}

.list_team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.h3_member {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
}
.position {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  font-weight: 300;
  animation: shift 0.2s linear;
}
.member {
  margin-bottom: 21px;
  transition: all 0.2s linear;
}
.card_hover {
  position: absolute;
  width: 380px;
  height: 470px;
  z-index: 20;
  opacity: 0;
  background: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.2s linear;
}

.list_team:hover .card_hover {
  opacity: 1;
  transform: translate(-10px, -10px);
}
.list_team:hover .member {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
}

.social_icon {
  padding: 16px;
  height: 55px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social_list {
  height: 55px;
  width: 55px;
  margin-right: 1px;
  background-color: #fce38a;
  text-align: center;
  transition: background-color 0.2s linear;
}
.social_list:hover {
  background-color: #95e1d3;
}

/*----------------- Footer ----------------*/

hr {
  border: none;
  background-color: #e5e5e5;
  height: 1px;
}
.my_footer {
  max-width: 1201px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.copyright {
  padding-left: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.author {
  margin-left: 4px;
  transition: color 0.2s linear;
}
.copyright:hover .author {
  color: #f38181;
}

.e-mail {
  margin-right: 0;
  padding-left: 10px;
  width: 230px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-right: none;
  color: -internal-light-dark-color(rgb(233, 31, 31), rgb(235, 10, 10));
  font-size: 15px;
  font-family: "Roboto";
  color: #929292;
  font-style: italic;
  line-height: 1.6;
}
.e-mail::placeholder {
  color: rgb(204, 204, 204);
}
.e-mail:focus {
  outline-offset: 0px;
  border: 1px solid #929292;
  outline: none;
  border: 1px solid #929292;
}
.Subscribe {
  margin-left: -5px;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  transition: background-color 0.2s linear;
}
.Subscribe:focus {
  outline-offset: 0px;
  border: 1px solid #929292;
  outline: none;
  border: 1px solid #929292;
}
.Subscribe:hover {
  background-color: #65d1bd;
}
