/*================ Header ================*/
.my_header {
  max-width: 1204px;
  /* margin-top: 20px; */
  height: 66px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #ddd;
}

.site-logo {
}
.site-logo__link {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* text-transform: uppercase; */
  line-height: 1.7;
}

.main-nav {
  width: 51.6%;
}
.main-nav__list {
  width: 621px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.main-nav__item {
  /* width: 60px; */
  /* height: 43px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.main-nav__link {
  height: 29px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: 0px solid #fce38a;
  transition: border-bottom 0.2s linear, color 0.2s linear;

  /* text-align: center; */
}

.main-nav__link--hover:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.main-nav__icon-header {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  transition: fill 0.2s linear;
}
.main-nav__icon-header--hover:hover {
  fill: #fce38a;
}

/* ====================== Section WELCOME +++++++++============= */

.welcome {
  height: 1000px;
  margin: 0 auto;
  margin-top: -66px;
  background: linear-gradient(
      180deg,
      rgba(232, 129, 130, 0.9) 0%,
      rgba(239, 217, 138, 0.9) 100%
    ),
    url(../img/Layer_15.jpg) no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .welcome {
    background: url(../img/Layer_15@2x.jpg) no-repeat;
  }
}

.welcome__header {
  margin-bottom: 30px;
  font-size: 72px;
  font-family: "Kaushan Script";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.welcome__text {
  width: 800px;
  font-size: 150px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  margin-bottom: 118px;
}

.welcome__learn-more {
  width: 160px;
  height: 40px;
  border: 3px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.welcome__learn-more--hover:hover {
  background-color: #fce38a;
}

/* =========== Section AMAZING SERVICES ========== */

.services {
  max-width: 1204px;

  margin: 0 auto;
  text-align: center;
}

.services__header-beafor {
  margin-top: 45px;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

.services__header-text {
  margin-top: 14px;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.015em;
}

.services__header-text::after {
  content: "____";
  display: block;
  margin-top: 5px;
  color: #f38181;
}

.services__list {
  margin-top: 50px;
  /* height: 255px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
}

.services__item {
  width: 381px;
  margin: 10px 9px 0 9px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.services__item-icon {
  margin: 0 20px;
  width: 60px;
  height: 31px;
  fill: #95e1d3;
}

.services__item-header {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
  letter-spacing: -0.05em;
}

.services__item-text {
  padding-left: 10px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}
