* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*================ Header ================*/

@media not screen and (min-width: 769px) {
  .header {
    min-width: 768px;
    height: 195px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media not screen and (min-width: 321px) {
  .header {
    min-width: 320px;
    height: 195px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media not screen and (min-width: 769px) {
  .header__entry {
    width: 153px;
    margin-top: 39px;
    margin-right: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media not screen and (min-width: 321px) {
  .header__entry {
    width: 153px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__log_in {
  width: 50px;
  height: 35px;
  /* margin: 20px; */
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transition: color 0.2s linear;
}
.header__log_in:hover {
  color: #ff4e50;
}

.header__sign_up {
  width: 90px;
  height: 35px;
  border: 3px solid #ffffff;
  border-radius: 17px;
  /* text-align: center; */
  /* margin: 20px; */
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.header__sign_up:hover {
  color: #ff4e50;
  border: 3px solid #ff4e50;
  background-color: rgba(255, 255, 255, 0.5);
}

/* @media not screen and (min-width: 769px) {
  .header__logo_link {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
    font-family: "Montserrat_bold";
    color: #ffffff;
        text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
} */

@media not screen and (min-width: 769px) {
  .header__logo {
    margin-top: 46px;
    margin-left: 49px;
  }
}

/* @media not screen and (min-width: 321px) { */
.header__logo_link {
  font-size: 20px;
  font-family: "Montserrat_bold";
  color: #ffffff;
  /* font-weight: bold; */
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* } */

/* ======================= body ========================= */

/* =========== section holiday============ */

@media screen and (min-width: 769px) {
  .holiday {
    min-width: 320px;
    height: 540px;
    margin-top: -195px;
    background: url(/img/vector_smart_object_1440x700.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media not screen and (min-width: 769px) {
  .holiday {
    min-width: 768px;
    height: 540px;
    margin-top: -195px;
    background: url(/img/vector_smart_object_768x700.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media not screen and (min-width: 321px) {
  .holiday {
    min-width: 320px;
    height: 540px;
    margin-top: -195px;
    background: url(/img/vector_smart_object_320x540.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.holiday__header {
  margin-top: 87px;
  font-size: 30px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
}
.holiday__text {
  display: block;
  margin-top: 10px;
  padding: 0 40px 0 40px;
  /* margin: 0 5px 0 5px; */
  font-size: 18px;
  font-family: "Roboto_light";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.holiday__fiend-partner {
  min-width: 280px;
  height: 40px;
  margin-top: 15px;
  background-color: #ff4e50;
  border-radius: 20px;
  display: block;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}

.holiday__fiend-partner:hover {
  background-color: #f82529;
}

/* ============ section partners =================*/

.partners {
  min-width: 320px;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-header {
  /* margin-bottom: 49px; */
  font-size: 22px;
  font-family: "Montserrat_bold";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  /* letter-spacing: -0.04em; */
}

.partners__link {
  /* height: 206px; */
  /* margin-top: 14px; */
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  transition: box-shadow 0.2s linear;
}

.partners__link:hover {
  /* background-color: rosybrown; */
  box-shadow: 8px 7px 15px 3px rgba(92, 88, 92, 1);
}

.partners__foto {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.partners__name {
  margin-top: 13px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.partners__summery {
  margin-top: 14px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 14px;
  font-family: "Roboto_light";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
}

.partners__other {
  min-width: 280px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "Montserrat_bold";
  color: rgb(255, 78, 80);
  line-height: 1.2;
  text-align: center;
  border: 3px solid #ff4e50;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color 0.2s linear, background 0.2s linear;
}

.partners__other:hover {
  color: #fff;
  background-color: #ff4e50;
}

/* .box {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
