* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

li {
  list-style-type: none;
}

/*================ Header ================*/

.header {
  min-width: 320px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.header__log {
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__log-in {
  width: 30px;
  margin: 20px;
}
.header__sign-up {
  width: 30px;
  margin: 20px;
}
