$color-logo: rgb(255, 255, 255);
$color-logo-link: rgb(255, 255, 255);
$color-logo-link-hover: rgb(252, 227, 138);
$color-logo-link-underline: #fce38a;
$color-svg: rgb(255, 255, 255);
$color-welcome-header: rgb(255, 255, 255);
$color-welcome-text: rgb(255, 255, 255);
$color-batton-hover: #fce38a;
$color-text: rgb(51, 51, 51);
$color-button-subscribe: #95e1d3;
$color-bg-ikons: #fce38a;
$color-bg-ikons-hover: #f38181;

$Montserrat400: Montserrat400;
$Montserrat700: Montserrat700;
$Roboto300: Roboto300;
$Roboto400: Roboto400;
$KaushanScript: Kaushan-Script;
